.main-container {
  min-height: 100vh;
}

.main-container > header {
  background: #f5f5f5;
}

.main-container > section {
  padding: 35px 0;
  min-height: 35vh;
}

.no-results {
  margin: 0 auto;
  min-height: 180px;
  max-width: 670px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .no-results {
    max-width: 300px;
  }
}
