:root {
  --primary-color: #23ce6b;
  --primary-text-color: #333745;
  --placeholder-color: #7c7f89;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  color: var(--primary-text-color);
}

input,
button,
input {
  outline: none;
  border: none;
  font-family: inherit;
}

a {
  color: currentColor;
  text-decoration: none;
}
